.dayTodayContainer{
    width: 100%;
    margin: 0 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayTodayWraper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    padding:0 1rem;
}

.dayTodayWraper h5{
    font-style: italic;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: normal;
    text-decoration: underline;
}

.dayTodayWraper h3{
    font-size: 1.25em;
    text-transform: capitalize;
}

.buttonsContainer{
    display: flex;
    border-radius: 3px;
}

.buttonsContainer button{
    width: 100%;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 0.35rem;
    transition: 0.2s;
    border: 0;
    color: #000;
    margin: 0.25rem 0;
    border-radius: 5px;
    background-color: transparent;
}

.buttonsContainer button svg{
    font-size: 1.5em;
    margin: 0 0.25rem;
}

.buttonsContainer button:nth-child(1):hover{
   color: #00ffff;
}

.buttonsContainer button:nth-child(2):hover{
    color: #ff1e00;
}

.buttonsContainer a{
    text-decoration: none;
}

.dayContainer ul{
    padding: 1rem 0;
    list-style-type: none;
}

.optionsContainer{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.filterContainer{
    display: flex;
    justify-content: center;
    margin: 1rem 0.5rem;
}

.filterContainer select{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.25rem;
    outline: 0;
    border: 1px solid #cccc;
    border-radius: 5px;
}

.periodsContainer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px){

    .buttonsContainer{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
}