.infoDay{
    display: flex;
    justify-content: center;
    margin: auto;
}

.infoWraper{
    display: flex;
    align-items: center;
}

.dataPeriodWraper{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.dataPeriodWraper svg{
    margin-left: 1rem;
    font-size: 2rem;
}

.infoWraper .day{
    font-size: 4em;
    margin-right: 2rem;
}

.data{
    font-size: 2.5em;
    text-decoration: underline;
}

.periodNow{
    text-align: center;
    display: flex;
    font-size: 2.25em;
    align-items: center;
}

@media screen and (max-width:768px){
    .infoWraper{
        padding: 1rem;
    }
    
    .infoWraper .day{
        margin-right: 1rem;
        font-size:2.5em;
    }

    .infoWraper .data{
        font-size: 1.5em;
    }

    .dataPeriodWraper svg{
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
}
