@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100;400;700&family=Kaisei+HarunoUmi:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi','Anybody', Arial, Helvetica, sans-serif;
}

.logContainer{
    display: flex;
    justify-content: center;
}

.logContainer button{
    width: 150px;
    font-size: 2em;
    padding: 5px;
    margin: 0.25rem 0;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.logContainer button:hover{
    background-color: #000;
    color: #ffff;
}

.chooseDayContainer{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chooseDayList{
    list-style-type: none;
    display: flex;
}

.chooseDayList li{
    padding: 0 1rem;
}

.chooseDayList li a button{
    font-size: 1.25em;
    padding: 0.25rem;
    cursor: pointer;
}

@media screen and (max-width:900px){

    .dayTodayContainer{
        flex-direction: column;
    }

    .daysFormat{
        display: flex;
        margin: 2rem auto;
    }

    .annotationsFormat{
        display: flex;
        margin: 2rem auto;
    }
    
}